.holder .list + p {
    font-size: 24px;
}
a[href^="https"] {
    color: red
}




#greycol {
    color: gray;
}
.yellow {
    color: yellow;
}
.text-box div p {
    color: red;
}
#pink {
    color: pink;
}
#green {
    color: green;
}
